<div class="container m-3">
  <h1>My tasks</h1>
  <ul class="list-unstyled">
    <% @tasks.each do |task| %>
    <li>
      <% if task.completed == true %>
        <i class="fa-regular fa-square-check"></i>
      <% else %>
        <i class="fa-regular fa-square"></i>
      <% end %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to(task_path(task),
        data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure you want to delete this task?"
          }) do %>
          <i class="fa-regular fa-trash-can pl-3"></i>
          <% end %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Add a new task", new_task_path %>
</div>
